<body>
<div class="main-container">

  <div class="ticket-container">
    <div class="poster-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/vM-Bja2Gy04" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
    <div class="ticket__content">
      <h4 class="ticket__movie-title">Justice League</h4>
      <p class="ticket__movie-slogan">You can't save the world alone.</p>
      <p class="ticket__current-price">Release Date : 2020</p>
      <p class="ticket__old-price">Director : <a href="https://www.imdb.com/name/nm0811583/">Zack Snyder</a></p>
      <p class="ticket__old-price">Stars: <a href="https://www.imdb.com/name/nm0000255/?ref_=nv_sr_srsg_1">Ben
        Affleck,</a>
        <a href="https://www.imdb.com/name/nm2933757/?ref_=nv_sr_srsg_0"> Gal Gadot,</a>
        <a href="https://www.imdb.com/name/nm0597388/?ref_=nv_sr_srsg_3"> Jason Momoa</a>
      </p>
      <app-rate-movie  [rating]="movie.rating"
                       (ratingClicked)='onRatingClicked($event)'>
      </app-rate-movie>
    </div>
  </div>

</div>
</body>
