<body>
<div class="main-container">

  <div class="ticket-container">
    <div class="poster-container">
      <iframe width="560" height="315" [src]="movie.videoUrl | safe" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
    <div class="ticket__content">

      <h4 class="ticket__movie-title">{{movie.name}}</h4>
      <p class="ticket__movie-slogan">{{movie.description}}</p>
      <p class="ticket__current-price">{{movie.genre}}</p>
      <p class="ticket__old-price"><a href="{{movie.imageUrl}}">Poster</a></p>
      <p class="ticket__old-price"> Rating: {{movie.rating}}
      </p>
      <div id="rateContainer">
        <app-rate-movie [rating]="movie.rating"
                        (ratingClicked)='onRatingClicked($event)'>
        </app-rate-movie>
        <div id="rateEl">
          <label>Rate it!</label>
          <input [(ngModel)]="rating">
          <button (click)="rateMovie()">Submit</button>
        </div>
      </div>
    </div>
  </div>

</div>
</body>
