<div class="container mt">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header">
                <h3>Add Movies</h3>
            </div>
            <div class="card-body">
                <form class="form" [formGroup]="AddMovies" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="Enter your name" formControlName="name">
                        <span class="text-danger"
                            *ngIf="(valdationFormControl.name.touched || submitted) && valdationFormControl.name.errors?.required">
                            Name is required
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="mt-4">Description</label>
                        <input type="text" class="form-control" placeholder="Enter your description" formControlName="description">
                        <span class="text-danger"
                            *ngIf="(valdationFormControl.description.touched || submitted) && valdationFormControl.description.errors?.required">
                            Description is required
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="mt-4">genre</label>
                        <input type="text" class="form-control" placeholder=" Enter genre" formControlName="genre">
                        <span class="text-danger"
                            *ngIf="(valdationFormControl.genre.touched || submitted) && valdationFormControl.genre.errors?.required">
                            genre is required
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="mt-4">Image url</label>
                        <input type="text" class="form-control" placeholder="Enter your link" formControlName="link">
                        <span class="text-danger"
                            *ngIf="(valdationFormControl.link.touched || submitted) && valdationFormControl.link.errors?.required">
                            link is required
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="mt-4">Movie url</label>
                        <input type="text" class="form-control" placeholder=" Enter movie" formControlName="movieurl">
                        <span class="text-danger"
                            *ngIf="(valdationFormControl.movieurl.touched || submitted) && valdationFormControl.movieurl.errors?.required">
                            movieurl is required
                        </span>
                    </div>
                    <div class="form-group mt-4 text-center">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class=" mt">
    <div class="col-md-12 mx-auto">
        <div class="row">
            <div class="col-md-4" *ngFor="let m of Movies">
                <div id="movieCard" class="card" style="width: 18rem;" >
                    <img class="card-img-top" src="{{m.imageUrl}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{m.name}}</h5>
                        <p class="card-text">{{m.description}}</p>
                        <a href="#" class="btn btn-outline-danger" (click)="ShowMovie(m.movieurl)"><p  class="card-text">Show Movie</p></a>
                    </div>

             

                </div>

            </div>
        </div>
          
             
             
       
    </div>
    <div class="col-md-4 col-lg-4 mx-auto" *ngIf="movieurl != ''">
               <iframe class="card-img-top" width="560" height="315" [src]="movieurl | safe" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
    
    </div>
</div>