<div id="movieCard" class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{m.imageUrl}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{m.name}}</h5>
    <p class="card-text">{{m.description}}</p>
    <a href="#" class="btn btn-outline-danger"><p id="{{m.id}}" class="card-text">View Detail</p></a>
  </div>

</div>
<!--<div class="card card-block">-->
<!--  &lt;!&ndash; <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true" alt=""></a> &ndash;&gt;-->

<!--  <ul>-->
<!--    <li>-->
<!--      <h4  class="card-title">{{m.name}}</h4>-->
<!--      <img src="{{m.imageUrl}}" style="width: 100px;">-->
<!--      <p class="card-text">{{m.description}}</p>-->
<!--      <p class="card-text">Rating {{m.rating}}</p>-->
<!--      <p class="card-text">{{m.genre}}</p>-->
<!--      <p id="{{m.id}}" class="card-text">View Detail</p>-->
<!--    </li>-->
<!--  </ul>-->
<!--  &lt;!&ndash; <div class="video" style="width: 100px;">-->
<!--      <video controls #videoPlayer>-->
<!--          <source src="{{m.videoUrl}}" type="video/mp4" />-->
<!--          Browser not supported-->
<!--      </video>-->
<!--  </div> &ndash;&gt;-->
<!--</div>-->
