    <header>
        <div class="netflixLogo">
          <a id="logo" href="#home"><img src="https://pbs.twimg.com/profile_images/964110423309062147/3pZH8cZx.jpg" alt="Logo Image"></a>
        </div>      
        <nav class="main-nav">                
          <a routerLink="">Home</a>
          <a routerLink="tvShows">TV Shows</a>
          <a routerLink="movies">Movies</a>
          <a routerLink="#originals">Originals</a>
          <a routerLink="#">Recently Added</a>
          <a target="_blank" href="">Portfolio</a>        
        </nav>
        <nav class="sub-nav">
          <a href="#"><i class="fas fa-search sub-nav-logo"></i></a>
          <a href="#"><i class="fas fa-bell sub-nav-logo"></i></a>
          <a href="#">Account</a>        
        </nav>      
      </header>