<div class='card'>

    <div class='card-body'>
        <div class='row'>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>

        <div class='table-responsive'>
            <table class='table' *ngIf='movies.length'>
                <thead>
                    <tr>
                        <th>
                            <button>
                                Go Detail
                            </button>
                        </th>
                        <th>Name</th>
                        <th>Genre</th>
                        <th>Url</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let movie of filteredMovies'>
                        <td>{{ movie.name }}</td>
                        <td>{{ movie.genre | uppercase }}</td>
                        <td>{{ movie.videoUrl }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>